{% extends 'base.html' %}

{% load static %}

{% block title %}買った物一覧｜Done Housework{% endblock %}

{% block active_grocery_list %}active{% endblock %}



{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg-8 col-md-10 mx-auto">
                <a class="btn btn-warning mt-0 ml-2" href="{% url 'grocery:grocery_create' %}">買った物登録</a>
                <br>
                <br>
                {% for grocery in grocery_list %}
                  <div class="post-preview">
                      <h2 class="post-title">
                          <a href="{% url 'grocery:update' grocery.pk %}">
                              {{ grocery.user }}
                          </a>
                      </h2>

                      {% if grocery.checkbox_1 == 'checked' %}
                          <input type="checkbox" name="tags" value="1" id="id_tags_0" class="invisible" {{ grocery.checkbox_1 }}>
                          <label for="id_tags_0" class="round">牛乳</label>
                      {% endif %}

                      {% if grocery.checkbox_2 == 'checked' %}
                          <input type="checkbox" name="tags" value="1" id="id_tags_1" class="invisible" {{ grocery.checkbox_2 }}>
                          <label for="id_tags_1" class="round">食パン</label>
                      {% endif %}

                      {% if grocery.checkbox_3 == 'checked' %}
                          <input type="checkbox" name="tags" value="1" id="id_tags_2" class="invisible" {{ grocery.checkbox_3 }}>
                          <label for="id_tags_2" class="round">ヨーグルト</label>
                      {% endif %}

                      <p class="post-meta">{{ grocery.checkbox_created_at }}</p>
                  </div>
                <hr>
                {% empty %}
                  <p>まだ買った物が登録されていません</p>
                {% endfor %}
            </div>
        </div>
    </div>

<div>
    <style>
        input.invisible[type="checkbox"] {
            display: none;
        }

        label.round {
            display: inline-block;
            border-radius: 20px;
            text-align: center;
            text-decoration: none;
            border: solid 1px #ccc;
            transition: 0.25s;
            padding: 6px 18px;
            cursor: pointer;
            font-size: 14px;
            margin: 3px;
        }

        input[type="checkbox"]:checked + label {
            background: #007bff;
            color: #fff;
        }
    </style>
</div>

{% endblock %}